<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="latest-release-title fs-2">
          Latest New Release Books</div>
        <p class="latest-release-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book1.png" class="card-img-top" alt="The Shadow Work Journal">
          <div class="card-body">
            <div class="book-card-title">Tholi Adi Adugu (Paperback)</div>
            <div class="book-card-author">P.Padmabhushan</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book2.png" class="card-img-top" alt="I Don't Love You Anymore">
          <div class="card-body">
            <div class="book-card-title">Gang Leader (Paperback)</div>
            <div class="book-card-author">Pencil</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book3.png" class="card-img-top" alt="Warmth">
          <div class="card-body">
            <div class="book-card-title">Fighter (Paperback)</div>
            <div class="book-card-author">Samsher Pathania</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book4.png" class="card-img-top" alt="Lucifer Was Innocent">
          <div class="card-body">
            <div class="book-card-title">The Jurneys (Paperback)</div>
            <div class="book-card-author">John Greesham</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row mt-3">
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book1.png" class="card-img-top" alt="The Shadow Work Journal">
          <div class="card-body">
            <div class="book-card-title">Tholi Adi Adugu (Paperback)</div>
            <div class="book-card-author">P.Padmabhushan</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book2.png" class="card-img-top" alt="I Don't Love You Anymore">
          <div class="card-body">
            <div class="book-card-title">Gang Leader (Paperback)</div>
            <div class="book-card-author">Pencil</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book3.png" class="card-img-top" alt="Warmth">
          <div class="card-body">
            <div class="book-card-title">Fighter (Paperback)</div>
            <div class="book-card-author">Samsher Pathania</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-card">
        <div class="card">
          <img src="static/Book4.png" class="card-img-top" alt="Lucifer Was Innocent">
          <div class="card-body">
            <div class="book-card-title">The Jurneys (Paperback)</div>
            <div class="book-card-author">John Greesham</div>
            <div class="book-card-rating">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row mt-3">
      <div class="col-md-12">
        <button class="btn btn-success">View All</button>
        <button class="btn btn-outline-secondary">Read More</button>
      </div>
    </div>
  </div>

</body>

</html>