<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Book Hub</title>
  <style>
    
  </style>
</head>

<body>
  <nav style="margin-bottom: 0px;" " class=" navbar bg-body-tertiary">
    {% include 'header.html' %}
  </nav>

  <div>

    <nav class="navbar navbar-sm navbar-expand-lg navbar-light" style="background-color: rgb(248, 249, 250);mx-3;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('add_book') }}">Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('static',filename='contact_us.html') }}">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('static',filename='my_cart.html') }}">My Cart</a>
          </li>
        </ul>
      </div>
    </nav>
    {% if request.path == url_for('index') %}
    <!-- <div class="dimmed-background" style="background-image: url('{{ url_for('static', filename='hero.png') }}');"></div> -->
    {% endif %}



    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <!-- <div>
      <img src="static/hero.png">
    </div> -->
    {% include 'home.html' %}
    {% include 'footer.html' %}
  </div>
</body>

</html>