<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Book Hub</title>
  <style>

  </style>
</head>

<body>
  <nav style="margin-bottom: 0px;" " class=" navbar bg-body-tertiary">
    {% include 'header.html' %}
  </nav>

  <div>

    <nav class="navbar navbar-sm navbar-expand-lg navbar-light" style="background-color: rgb(248, 249, 250);mx-3;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('add_book') }}">Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('static',filename='contact_us.html') }}">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5" href="{{ url_for('static',filename='my_cart.html') }}">New Arrivals</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link px-5 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              All Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Fiction</a>
              <a class="dropdown-item" href="#">Trading</a>
              <a class="dropdown-item" href="#">Horror</a>
              <a class="dropdown-item" href="#">Crime</a>
              <a class="dropdown-item" href="#">Romance</a>
              <a class="dropdown-item" href="#">E-Learning</a>
              <!-- Add more categories here -->
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
      });
    </script>
    {% if request.path == url_for('index') %}
    <!-- <div class="dimmed-background" style="background-image: url('{{ url_for('static', filename='hero.png') }}');"></div> -->
    {% endif %}



    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <!-- <div>
      <img src="static/hero.png">
    </div> -->
    {% include 'home.html' %}
    {% include 'footer.html' %}
  </div>
</body>

</html>